USE [UAT]
GO
/****** Object:  UserDefinedFunction [dbo].[FNEMPLOYEE_NAME]    Script Date: 7/22/2020 7:14:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[FNEMPLOYEE_NAME] (@GENDER NVARCHAR (250))
RETURNS TABLE 
AS
RETURN
SELECT * FROM tblEmployee WHERE Gender = @GENDER
